@model List<SignalRNotificationSystem.Models.Message>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    var userName = Context.Session.GetString("UserName");
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<div class="containerr ">
    <div class="msg-header">
        <div class="msg-header-img">
            <img src="~/images/user2.jpg" asp-append-version="true">

        </div>
        <div class="active">
            <h4>Group Chat</h4>
            <h6> Active Now</h6>
        </div>
        <div class="header-icons">
            <i class="fa fa-phone"></i>
            <i class="fa fa-video-camera"></i>
            <i class="fa fa-info-circle"></i>
        </div>
    </div>
    <div class="chat-page">
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page" id="chat">


                    @if (Model != null)
                    {
                        @foreach (var message in Model.OrderBy(m => m.When))
                        {
                            var time = "";
                            var firstclass = "";
                            var secondclass = "";
                            var thirdclass = "";
                            var image = "";

                            var user = "";
                            var text = "";
                            if (userName == message.UserName)
                            {
                                firstclass = "outgoing-chats";
                                secondclass = "outgoing-chats-img";
                                image = "~/images/user2.jpg";
                                thirdclass = "outgoing-chats-msg";
                                time = message.When.ToLongTimeString();
                                text = message.Text;


                            }
                            else
                            {
                                firstclass = "recieved-chats";
                                secondclass = "recieved-chats-img";
                                image = "~/images/user1.jpg";
                                thirdclass = "recieved-msg-inbox";
                                user = message.UserName;
                                time = message.When.ToLongTimeString();
                                text = message.Text;

                            }


                    <div class=@firstclass>
                        <div class=@secondclass>
                            <img src=@image asp-append-version="true">
                        </div>

                        @if (user == "")
                        {
                            <div class="@thirdclass">
                                <p>
                                    @text
                                </p>
                                <span class="time">
                                    @time
                                </span>

                            </div>
                        }
                        else
                        {
                            <div class="@thirdclass">
                                <p>
                                    @text
                                </p>
                                <span class="time">
                                    @time ( @user )
                                </span>

                            </div>
                        }


                    </div>
                        }
                    }
                </div> 
                <form asp-action="Chat" asp-controller="Home" data-ajax="true"
                      
                      data-ajax-method="POST">
                    <div class="msg-bottom">
                        <div class="bottom-icons">
                            <i class="fa fa-phone"></i>
                            <i class="fa fa-plus-circle"></i>
                            <i class="fa fa-camera"></i>
                            <i class="fa fa-microphone"></i>
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write your message" id="SendMessageText" name="text">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-paper-plane" id="SendMessageButton"></i>
                                </span>
                            </div>
                            <input type="hidden" value="@userName" name="username" id="UserName" />
                        </div>
                    </div>
                </form>





            </div>




    </div>



</div>
</div>
@section scripts {

    <script src="~/AJAX/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/NiceScroll/NiceScroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @*<script type="text/javascript">
        function ClearInputME() {
            //$('form')[0].reset();
            toastr.success('Your Request is processing', 'Wait !!!',
                {
                    timeOut: 1200,
                    positionClass: "toast-top-right",
                    progressBar: true,
                })

        }
        function TaskDone() {

            toastr.success('Message has been sent Successfully', 'Congratulation !!!',
                {
                    timeOut: 2500,
                    positionClass: "toast-top-right",
                    progressBar: true,
                })

        };
        $('form').submit(function () {
            if ($.trim($("#SendMessageText").val()) === "") {
                toastr.error('Write Something', 'Ops! !!!',
                    {
                        timeOut: 2500,
                        positionClass: "toast-top-right",
                        progressBar: true,
                    })
                return false;
            }
        });


    </script>*@
    @*<script src="~/signalR/browser/signalr.min.js"></script>*@
    <script type="text/javascript">
        $("#chat").niceScroll(); // Nice Scroll Design
        $('#chat').scrollTop(1000000) //Set Scroll Bottom
    </script>


    <script>

        function LoadNumberOfRegisatedUser() {
            $.ajax({
                url: '/Home/TotalUser',
                method: 'GET',
                success: (result) => {
                    $("#TotalUserCounter").html(result);
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
        LoadNumberOfRegisatedUser();
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/signalRServerHub").build();
        // Disable send button until connection is established
        //document.getElementById("submitButton").disabled = true;
        connection.start().then(function () {
            console.log("Connected");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        var CurrentUser = " ";
        var containerClass = "";
        var timePosition = "";
        var textAlign = "";
        var contcolor = "";
        var offset = "";
        connection.on("refreshNewClient", function () {
            console.log("New Client come");
        });
    </script>



    <script>

        connection.on("ReceiveMessage", function (user, message) {
            var CurrentUser = $("#UserName").val();
            var dt = new Date();
            var hours = dt.getHours(); // gives the value in 24 hours format
            var AmOrPm = hours >= 12 ? 'PM' : 'AM';
            hours = (hours % 12) || 12;
            var minutes = dt.getMinutes();
            var finalTime = hours + ":" + minutes + ":" + dt.getSeconds() + " " + AmOrPm;

            
            var firstclass = "";
            var secondclass = "";
            var thirdclass = "";
            var image = "";
            
            var User = "";
            var text = "";
            if (CurrentUser === user) {

                firstclass = "outgoing-chats";
                secondclass = "outgoing-chats-img";
                image = "/images/user2.jpg";
                thirdclass = "outgoing-chats-msg";
            }
            else {
                firstclass = "recieved-chats";
                secondclass = "recieved-chats-img";
                image = "/images/user1.jpg";
                thirdclass = "recieved-msg-inbox";
                User = user;
            }

            var item = " ";
            item = item.concat('<div class="' + firstclass+'">');
            item = item.concat('<div class="' + secondclass + '"><img src ="' + image + '" asp-append-version="true" ></div>');

            if (User === "") {
                item = item.concat('<div class="' + thirdclass + '"><p>' + message + '</p><span class="time">' + finalTime + '</span></div></div>');

            }
            else {
                item = item.concat('<div class="' + thirdclass + '"><p>' + message + '</p><span class="time">' + finalTime + '( '+ User+')</span></div></div>');

            }

            
            $("#chat").append(item);
            $('#chat').scrollTop(1000000);
        });

        $('form').keyup(function (e) {
            if (e.which === 13) {
                var Text = $("#SendMessageText").val();
                var User = $("#UserName").val(); 
                if ($.trim(Text) != "") {
                    $('form').submit(function () {
                        if ($.trim($("#SendMessageText").val()) === "") {
                            return false;
                        }
                    });
                    connection.invoke("SendMessage", User, Text).catch(function (err) {
                        return console.error(err.toString());
                    });
                    
                    $('form')[0].reset();
                }
            }
        });

        //$('form').submit(function () {
        //    if ($.trim($("#SendMessageText").val()) === "") {
        //        return false;
        //    }
        //});
        $("#SendMessageButton").click(function () {
            
            var Text = $("#SendMessageText").val();
            var User = $("#UserName").val();
            if ($.trim(Text) != "") {
                connection.invoke("SendMessage", User, Text).catch(function (err) {
                    return console.error(err.toString());
                });
                $('form').submit();
                $('form')[0].reset();
            }
           
            


        });




    </script>




}

