
@{
    ViewData["Title"] = "ChatWithMe";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> Chat App UI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type="text/css" href="~/css/chatUI.css" asp-append-version="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
        <div class="containerr ">
            <div class="msg-header">
                <div class="msg-header-img">
                    <img src="~/images/user2.jpg" asp-append-version="true">

                </div>
                <div class="active">
                    <h4>John Lowis</h4>
                    <h6> 3 Hours ago</h6>
                </div>
                <div class="header-icons">
                    <i class="fa fa-phone"></i>
                    <i class="fa fa-video-camera"></i>
                    <i class="fa fa-info-circle"></i>
                </div>
            </div>
            <div class="chat-page">
                <div class="msg-inbox">
                    <div class="chats">
                        <div class="msg-page">
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm (Smith)</span>

                                    </div>
                                </div>
                            </div>
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm</span>

                                    </div>
                                </div>
                            </div>
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg" asp-append-version="true">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm</span>

                                    </div>
                                </div>
                            </div>
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm</span>

                                    </div>
                                </div>
                            </div>
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm</span>

                                    </div>
                                </div>
                            </div>
                            <div class="recieved-chats">
                                <div class="recieved-chats-img">
                                    <img src="~/images/user1.jpg">
                                </div>
                                <div class="recieved-msg">
                                    <div class="recieved-msg-inbox">
                                        <p>
                                            This message is from the out side ,Lowis
                                        </p>
                                        <span class="time">11.2.5 pm</span>

                                    </div>
                                </div>
                            </div>

                            <div class="outgoing-chats">
                                <div class="outgoing-chats-img">
                                    <img src="~/images/user2.jpg" asp-append-version="true">
                                </div>

                                <div class="outgoing-chats-msg">
                                    <p>
                                        This message is from the my side side ,hello this txt is aiviiint guou too
                                    </p>
                                    <span class="time">11.2.5 pm</span>

                                </div>


                            </div>





















                        </div>

                        <div class="msg-bottom">
                            <div class="bottom-icons">
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-plus-circle"></i>
                                <i class="fa fa-camera"></i>
                                <i class="fa fa-microphone"></i>
                                <i class="fa fa-smile-o"></i>
                            </div>

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Write your message">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-paper-plane"></i>
                                    </span>
                                </div>

                            </div>
                        </div>



                    </div>



                </div>




            </div>



        </div>
   

</body>
</html>

